
style
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: auto;
        width: 50px;
        height: 10vh;
      }
      /* table{
        background-color: burlywood;
      } */
      table tr:nth-child(odd){
        background-color: darkorchid;
      }
      table tr:nth-child(even){
        background-color: aqua;
      }
      table td{
        text-align: center;
      }
      
      